.list {
    display: flex;
    flex-direction: column;
    background-color: #ebecf0;
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    gap: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 10px;
}